.primeng-title-container {
  display: flex;
  justify-content: space-between;

  margin: 10px 0;
}
.primeng-title{
  font-size: 2em;
  font-weight: bold;
  padding: 10px 0;
}
.content{
  padding: 20px 0;
}
